/* ブラウザがそれぞれ持っているCSSをリセットするため */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%; /* 横幅いっぱい */
  height: 50px; /* 高さ100px */
  background-color: red; /* 背景色hotpink */
}

/* clearfixを追加 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 300px; /* 高さ300px */
  background-color: orange; /* 背景色orange */
}
.main {
  width: 960px; /* 960px*/
  margin: 0 auto;
}
.blog {
  width: 500px; /* 横幅600px */
  height: 1400px;
  background-color: limegreen; /* 背景色limegreen */
  float: left;
}
.sidebar1 {
  width: 230px; /* 横幅240px */
  height: 1400px;
  background-color: palegreen; /* 背景色palegreen */
  float: left; /* 要素を左揃えで並べる */
}
.sidebar2 {
  width: 230px; /* 横幅240px */
  height: 1400px;
  background-color: palegreen; /* 背景色palegreen */
  float: right; /* 要素を右揃えで並べる */
}
.footer {
  width: 100%; /* 横幅いっぱい */
  height: 100px; /* 高さ120px */
  background-color: blue; /* 背景色blue */
}